<ActionBar title="sriracha"></ActionBar>
<TabView #element [(ngModel)]="selectedIndex">
  <template tabItem title="Secrets">
    <StackLayout>
      <Label text="Dark secrets from friends"></Label>
    </StackLayout>
  </template>
  <FlexboxLayout *tabItem="{title: 'Budget'}" flexDirection="column" class="tab-budget">
    <StackLayout>
      <Label text="Amount" class="title"></Label>
      <Label text="The maximum amount you plan to spend" class="legend"></Label>
      <FlexboxLayout flexDirection="row" class="amount-flex">
        <Label text="£" class="big-mono"></Label>
        <TextView class="big-mono input" keyboardType="phone" [(ngModel)]="amount"></TextView>
        <Label text=".00" class="big-mono"></Label>
      </FlexboxLayout>
    </StackLayout>

    <StackLayout>
      <Label text="End" class="title"></Label>
      <Label text="The hour when the limit should be raised" class="legend"></Label>
      <TimePicker hour="6" minute="0" minuteInterval="15" [(ngModel)]="end"></TimePicker>
    </StackLayout>

    <Button text="Limit me" class="confirm-btn" (tap)="addBudget()"></Button>
  </FlexboxLayout>
</TabView>
