<ActionBar title="OH NO BABY WHAT IS YOU DOING" style="background-color: rgb(31, 34, 42); color: white;"></ActionBar>
<FlexboxLayout flexDirection="column" class="main-flex" style="background-color: rgba(31, 34, 42, 0.8)">
  <Image src="~/images/logo.png" style="text-align: center; margin: 0 auto;"></Image>
  <Label text="Do you think you can trust yourself?" style="text-align: center; color: white; margin-left: 30px; margin-right: 30px;" textWrap="true"></Label>
  <Image (tap)="monzoConnect()" class="monzo-btn" src="res://images/monzo-connect"></Image>
</FlexboxLayout>
