<ActionBar title="Setup"></ActionBar>
<FlexboxLayout flexDirection="column">
  <Label text="Choose 5 friends who will help you spending too much money" textWrap="true" *ngIf="friends.length < 5" style="margin: 20px; text-align: center;"></Label>
  <Button text="Add a friend" (tap)="addFriend()" *ngIf="friends.length < 5"></Button>

  <Border *ngFor="let friend of friends; let i = index" borderRadius="3" borderWidth="2" borderColor="#ccc" style="margin: 20px; margin-top: 20px; margin-bottom: 0px;">
    <Label text="{{ i+1 }}. {{ friend.name }}" style="margin: 20px;" (tap)="removeFriend(i)"></Label>
  </Border>

  <Label *ngIf="friends.length === 5" text="You are all set up!" style="text-align: center; margin-top: 30px;"></Label>
  <Button *ngIf="friends.length === 5" text="Start stop spending money &gt;&gt;" (tap)="goHome()"></Button>
</FlexboxLayout>
